
@import './App.less';

.site-layout .site-layout-background {
    background: #fff;
}

// .vertical-center {
//     display: flex;
//     align-items: center;
// }

.nav_slider {
    display: none;

    @media screen and (min-width: 1820px) {
        display: block;
    }
}



.split-layout__divider {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (min-width: 30em) {
        flex-direction: column;
    }
}


.split-layout__label {
    padding: 1em;
}

.split-layout__rule {
    flex: 1;
    border-style: solid;
    border-color: #04afa4;
    border-width: 2px 0 0 0;

    @media screen and (min-width: 30em) {
        border-width: 0 1px 0 0;
    }
}


.ant-table-thead>tr>th {
    text-align: center;
    font-weight: bold;
}

.ant-table-tbody>tr>td {
    text-align: center;
}

.colored-row {
    background-color: @row-selection;
}
.colored-row .ant-table-cell-row-hover{
    background-color: @row-selection !important;
}