@import "./App.less";
@layout-header-background: #00a498;
@primary-color: #04afa4;
@row-selection: #a9d2e744;
@layout-body-background: #f4f5f6;
@anchor-border-color: #bdbdbd;
@descriptions-bg: #f7f7f7;
@form-item-margin-bottom: 0px;
.mobile-banner-logo {
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}
#mobile-site-layout {
  padding: 0 0;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#footer-logos {
  margin-top: 30px;
}
.split-layout__divider__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.split-layout__label__row {
  padding: 1em;
}
.split-layout__rule__row {
  flex: 1;
  border-style: solid;
  border-color: #04afa4;
  border-width: 0 0 2px 0;
}
#MenuOutlined-mobile {
  font-size: 32px;
  color: white;
}
#webtetrado-banner-mobile {
  background-image: linear-gradient(
    90deg,
    hsl(176deg 96% 35%) 0%,
    hsl(179deg 87% 35%) 25%,
    hsl(183deg 83% 36%) 50%,
    hsl(187deg 80% 37%) 75%,
    hsl(192deg 77% 38%) 100%
  );
  font-size: 32px;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-decoration: none;
}
#webtetrado-banner-mobile a {
  color: white;
}
